body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #49454F;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 14px;
    margin-bottom: 20px;
}

/*.box {*/
/*    padding: 5px;*/
/*    background: red;*/
/*    color: #49454F;*/
/*    font-size: 14px;*/
/*}*/

.container {
    display: flex;
    color: #49454F;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    cursor: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_element {
    font-weight: bold;
    list-style-type: none;
    background-color: #fff; /* Green background */
    color: #49454F;             /* White text */
    padding: 15px 32px;       /* Some padding */
    border: none;             /* Remove default border */
    cursor: pointer;          /* Change cursor to pointer */
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
    width: 100%;
    height: 100vh; /* Use 100vh for full viewport height */
    background-color: #fff; /* Fallback color */

    /* Create horizontal lines */
    background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
        /* Create vertical lines */
    linear-gradient(to bottom, #ccc 1px, transparent 1px);

    /* Set the size of each grid cell */
    background-size: 80px 80px;
    margin: 0;
    overflow: hidden;
}

