body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #49454F;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 14px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    color: #49454F;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    cursor: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_element {
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
    width: 100%;
    background-color: #fff; /* Fallback color */

    background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);

    background-size: 80px 80px;
    margin: 0;
    overflow: hidden;
    cursor: grab;
}

.return-button {
    position: absolute;
    top: 20px;
    left: 200px;
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.return-button-svg {
    height: 28px;
}

.fab-container {
    position: fixed; /* Fixes the position relative to the viewport */
    bottom: 20px;    /* Distance from the bottom of the screen */
    left: 20px;     /* Distance from the right of the screen */
    display: flex;
    gap: 10px;
}

.new-tree-button {
    width: 120px;
    height: 48px;
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.import-tree-button {
    width: 120px;
    height: 48px;
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

#node {
    position: absolute;
    top: 50%;
    left: 50%;
}

#center {
    position: absolute;
    transform: translate(-50%, -50%);
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 90px;
    margin-bottom: 10px;
    height: 28px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.select-list {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.is-visible {
    display: block; /* or whatever the natural display type should be */
}

.is-hidden {
    display: none;
                         }
