body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #49454F;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 14px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    color: #49454F;
    min-height: 100vh;
    margin: 0;
    z-index: 1;
}

.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    cursor: auto;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.list_element {
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
    z-index: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
    width: 100%;
    background-color: #fff; /* Fallback color */

    /* Create horizontal lines */
    background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
        /* Create vertical lines */
    linear-gradient(to bottom, #ccc 1px, transparent 1px);

    /* Set the size of each grid cell */
    background-size: 80px 80px;
    margin: 0;
    overflow: hidden;
    cursor: grab;
    z-index: 1;
}

.return-button {
    position: absolute;
    top: 20px;  /* 50px сверху */
    left: 200px; /* 20px слева */
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
    z-index: 1;
}

.return-button-svg {
    height: 28px;
    z-index: 1;
}

#node {
    position: absolute;
    top: 50%;
    left: 50%;
}

#center {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.select-list {
    position: absolute;
    top: 20px;  /* 50px сверху */
    left: 20px; /* 20px слева */
    font-weight: bold;
    list-style-type: none;
    background-color: #fff;
    color: #49454F;
    padding: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
    z-index: 1;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-list p {
}

