body {
    background: #222;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: lime;
}

.box {
    margin: 40px;
    padding: 20px;
    background: red;
    color: white;
    font-size: 20px;
}
